.commentCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  margin: 1.5rem;
  color: $color-green-dark;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.commentDatas {
  margin-bottom: 1rem;
  font-weight: lighter;
  font-style: italic;

  & span {
    font-weight: normal;
  }
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;

  & label {
    color: $color-green-dark;
  }

  & input {
    border: 1px solid $color-green-dark;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;

    font-family: $font-family-content;
    color: $color-green-medium;

    &::placeholder {
      color: $color-green-dark;
    }
    &:focus {
      outline: none;
      &::placeholder {
        color: $color-green-medium;
      }
    }

    &:hover {
      border: 2px solid $color-green-dark;
      &::placeholder {
        color: $color-green-medium;
      }
    }

    &[type="submit"] {
      padding: 0.7rem;
      margin: 0.2rem;
      border-radius: 40px;
      font-weight: 300;
      font-size: 14px;
      color: #ffffff;
      background-color: $color-green-dark;
      cursor: pointer;
      outline: none;
      text-align: center;
      width: 80px;
    
      &:hover {
        border: none;
        transition-duration: 0.2s;
        background-color: $color-green-medium;
      }
    }
  }

  
}