.logout-button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: $color-green-dark;
  border: none;
  color: white;
  letter-spacing: 0.2px;
  cursor: pointer;
  &:hover {
    transition-duration: 0.2s;
    background-color: $color-green-medium;
    font-weight: bolder;
    border: 1px solid $color-green-dark;
  }
}