.logoutBtn {
  all: unset;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
  position: relative;
  width: 85%;
  padding: 6px 10px;
  margin: 4px 0;
  border-radius: $border-radius-normal;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: #fff;
  background-color:  $color-green-dark;
  box-shadow: $box-shadow-dark;

    &:hover {
      padding: 10px 12px;
      cursor: pointer;
      background-color:$color-green-medium;
      transition: $transition-time;
    }
}