.searchForm {
  display: flex;
  padding: 8px 20px;
  margin: 1.5rem;
  border: 1px solid $color-green-dark;
  border-radius: 20px;
  font-size: medium;

  & .fa-magnifying-glass{
    padding-top: 0.2rem;
    padding-right: 0.4rem;
    color: $color-green-dark;
  }

  &:hover {
    border: 2px solid $color-green-dark;

    & .fa-magnifying-glass {
      color: $color-green-medium;
    }
  }
}

.searchInput {
  all: unset;
  width: 80%;
  font-family: $font-family-content;
  color: $color-green-dark;
  &::placeholder {
    color: $color-green-dark;
  }
  &:focus {
    &::placeholder {
      color: $color-green-medium;
    }
  }
  &:hover::placeholder {
    color: $color-green-medium;
  }
}

@media (min-width: $breakpoint-medium-devices) {
  .searchForm {
    min-width: 400px;
  }
}