$breakpoint-medium-devices: 768px;
$breakpoint-large-devices: 1024px;

$color-yellow: #FAB400;
$color-orange: #FD8E01;
$color-green-light: #BCC21C;
$color-green-medium: #80AB01;
$color-green-dark: #0C7524;
$color-blue-light: #00A8BB;
$color-blue-medium: #017779;
$color-blue-dark: #003349;

$font-family-title: 'Urbanist', sans-serif;
$font-family-content: 'Red Hat Text', sans-serif;