.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  margin: 6rem 1.5rem 3rem 1.5rem;
  width: 80%;

  border-radius: $border-radius-plus;
  background-color: $bg-color-light;
  box-shadow: $box-shadow-dark;

  backdrop-filter: blur(15px);
}

.profileHeader {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid;
  text-align: center;
  text-shadow: $text-shadow-dark;
}

.profileContainer {
  & h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: $text-shadow-dark;
  }
  & p {
  line-height: 1.2rem;
  font-size: 16px;
  font-weight: lighter;
  }
}

.profileInfos {
  margin: 0 2rem;
}

.notifications {
  margin-top: 1rem;

  & span {
    margin-right: 1rem;
    color: $color-green-dark;
    font-style: italic;
  }
}

.profileBtns {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 2rem 0;
  text-align: center;
}

.profileBtn {
  all: unset;
  background-color: $color-green-dark;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 300;
  box-shadow: $box-shadow-dark;

  &:hover {
    transition-duration: 0.2s;
    background-color: $color-green-medium;
    color: #fff;
  }
}

.deleteBtn {
  display: inline-block;
  align-items: center;
  margin: 0.5rem;
  color: $color-orange;
  font-weight: lighter;

  & button {
    all: unset;    
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  &:hover {
    transition: $transition-time;
    color: $color-yellow;
    cursor: pointer;
  }
}

@media (min-width: $breakpoint-medium-devices) { 
  .profileCard {
    margin: 6rem 1.5rem 5rem 1.5rem;
  }

  .profileContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .profileInfos {
    width: 50%;
  }

  .profileActivities {
    border-left: solid;
    width: 50%;

    & h3 {
      text-align: center;
    }
  }

  .deleteBtn {
    margin: 0 0.8rem;
  }
}