main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-title {
  margin-bottom: 35px;
  padding-top: 6rem;
}

.register-form-container {
  & input {
    border: 1px solid $color-green-dark;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    &[type="submit"] {
      background-color: $color-green-dark;
      color: white;
      padding: 15px 0;
      margin: 5px 0 10px 0;
      border: none;
      border-radius: 8px;
      width: 100%;
      cursor: pointer;
      &:hover {
        transition-duration: 0.2s;
        background-color: $color-green-light;
      }
    }
  }
  .input-container{
    & label {
      padding: 0.5rem 0 0.5rem 0;
      
    }
    & select {
      border: 1px solid $color-green-dark;
      border-radius: 5px;
      height: 30px;
    }
     & textarea {
      border-radius: 8px;
      border: 1px solid $color-green-dark;
     }
  }
}

@media (min-width: $breakpoint-medium-devices) {
  .register-form-container {
    min-width: 400px;
  }
}