.reset-title {
  margin-bottom: 35px;
  padding-top: 4rem;
}

.reset-container-form {
  & input {
    border: 1px solid $color-green-dark;
    padding: 8px 12px;
    margin: 8px 0;
    border-radius: 5px;
    width: 230px;
  }
  .input-container{
    & label {
      padding: 0.5rem 0 0.5rem 0;
      
    }
    & select {
      border: 1px solid $color-green-dark;
      border-radius: 5px;
      height: 30px;
    }
  }
  button {
    justify-content: center;
    background-color: $color-green-dark;
    color: white;
    padding: 12px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    & a {
      all: unset;
      font-family: $font-family-content;
      color: white;
    }
    &:hover {
      transition-duration: 0.2s;
      background-color:$color-green-medium;
      color: white;
    }
  }
}