.showContainer {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  margin-bottom: 3rem;
  width: 90%;
}

.projectWrapper {
  margin: 1.8rem auto;
  height: auto;
  border-radius: $border-radius-plus;
  box-shadow: $box-shadow-dark;
  background-color: $bg-color-light;
}

.projectImg img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: $border-radius-plus;
  border-top-right-radius: $border-radius-plus;
}

.projectInfos {
  padding: 1.5rem;
}

.projectDescription {
  width: 100%;
  & h1 {
    margin-bottom: 0.8rem;
    font-size: 1.5;
    text-shadow: $text-shadow-dark;
  }

  & h2 {
    margin-bottom: 0.7rem;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-shadow: $text-shadow-dark;
  }

  & p {
    line-height: 1.2em;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
  }
}

.projectLocation {
  & h3 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-shadow: $text-shadow-dark;
  }

  & p {
  font-weight: 300;
  line-height: 1.2rem;
  font-size: 16px;
  }
}

.projectStatus {
  & h3 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-shadow: $text-shadow-dark;
  }

  & p {
  line-height: 1.2rem;
  font-size: 16px;
  }
}

.projectShowBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.projectShowBtn, .backBtn {
  all: unset;
  display: inline-block;
  align-items: center;
  padding: 6px 10px;
  margin: 4px;
  border-radius: $border-radius-normal;
  color: #fff;
  font-size: 14px;
  background-color: $color-green-dark;
  box-shadow: $box-shadow-dark;

  & button {
    all: unset;
    padding-left: 0.5rem;
  }

  &:hover {
    transition: $transition-time;
    color:#fff;
    background-color: $color-green-medium;
    cursor: pointer;
  }

  & i {
    margin-right: 5px;
  }
}

.registerBtn {
  display: inline-block;
  align-items: center;
  padding: 6px 10px;
  margin: 4px;
  border-radius: $border-radius-normal;
  color: #fff;
  background-color: $color-green-dark;
  box-shadow: $box-shadow-dark;

  & button {
    all: unset;
    padding-left: 0.5rem;
  }

  &:hover {
    transition: $transition-time;
    background-color: $color-green-medium;
    cursor: pointer;
  }
}

.projectAdditionnalBlocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  & h3 {
    margin: 20px;
  }
}

.notificationsContainer {
  margin: 1rem 2rem;
}

// Progress bar

.progressBar {
  text-align: center;
  margin: 0 auto;
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: $border-radius-plus;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: $border-radius-plus;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.04));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: $box-shadow-dark;
}

.progress-bar[id='To plan'] {
  width: 5%;
  background-color: #f63a0f;
}

.progress-bar[id='Planned'] {
  width: 25%;
  background-color: $color-orange;
}

.progress-bar[id='In progress'] {
  width: 50%;
  background-color: #f2d31b;
}

.progress-bar[id='Done'] {
  width: 100%;
  background-color: $color-green-dark;
}

@media (min-width: $breakpoint-medium-devices) {
  .showContainer {
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 70%;
  }
  .projectWrapper {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .projectImg {
    width: 45%;

    & img {
      height: 100%;
      border-bottom-left-radius: $border-radius-plus;
      border-top-left-radius: $border-radius-plus;
      border-top-right-radius: 0;
    }
  }
}