.projectWrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.projectImg {
  float: left;
  height: 420px;
  width: 327px;

  & img {
    border-radius: 7px 0 0 7px;
  }
}

.projectInfos {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
  padding: 1.5rem;
}

.projectDescription {
  height: 300px;
  width: 327px;

  & h1 {
    font-size: 34px;
  }

  & h2 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  & h3 {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  & p {
    line-height: 1.7em;
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
  }
}

.projectBtnShow button {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  border: transparent;
  border-radius: 40px;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: $color-green-dark;
  cursor: pointer;
  outline: none;

  &:hover {
    transition-duration: 0.2s;
    background-color: $color-green-medium;
  }
}